body {
    background-color: #a5d8dd;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 650px;
    height: 800px;
    background-color: #7e909a;
    border-radius: 20px;
    border: solid black 2px;
}
#top {
    height: 240px;
    margin: 12px;
}
#power {
    font-size: 30px;
    margin: 10px;
    border: 2px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
#solar {
    margin-top: 5px;
    object-fit: cover;
    height: 60px;
    width: 250px;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
}
#output {
    text-align: end;
    font-size: 50px;
    background-color: white;
    height: 130px;
    width: 600px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
#inputs {
    border-radius: 10px;
    width: 620px;
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
button {
    flex: calc(20% - 1px);
    height: 100px;
    box-sizing: border-box;
    border: 2px solid;
    text-align: center;
    margin: 10px; 
    border-radius: 10px;
    font-size: 30px;
}
#footer {
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
    background-color: beige;
    height: 60px;
    width: 100%;
    bottom: 0;
    position: fixed;
    border-top: #7e909a solid 2px;
    text-align: center;
    font-size: 20px;
}